---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}



.nav {
  float: right;
}

.list {
  font-size: 15px;
  color: #337ab7;
}

.list p {
  font-size: 20px;
  font-weight: bold;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(/img/wood.jpg);
  background-size: cover;
  color: #337ab7;
  height: 250px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.jumbotron h3 {
  margin: 0 0 20px;

}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}


footer {
  font-size: 12px;
  padding: 20px 0;
}

