---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-control.right, .carousel-control.left{
  background-image: none;
  color: #337ab7;
  width: 5%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

//all navbar coloring
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-brand {
color: #337ab7;
}

.navbar-default .navbar-nav > li > a {
  text-align: center;
}

.container {
  padding: 0 25px;
}

@media (min-width: 768px){
  .container {
    padding: 0 125px;
  }
}

@media (min-width: 992px){
  .container {
    padding: 0 200px;
  }
}


// i want this off for only index page
// @media (min-width: 1200px){
//   .container {
//     padding: 0 400px;
//   }
// }



.navbar-default .navbar-nav > li > a:hover{
  font-weight: 600;
  color: #285f8f;
}

.blue {
  // font-size: 15px;
  color: #337ab7;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(/img/wood.jpg);
  background-size: cover;
  color: #337ab7;
  text-shadow: 0.25px 0.25px 0.25px #000000;

  .jumbo-title {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
  }

  .jumbo-details {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
  }
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
 }
